@import "../variables.scss";
@import "../mixin/mixin.scss";

@include c(input){
  &-inner{
    width: 100%;
    outline: none;
    padding: 6px 4px;
  }
}

@include c(textarea){
  &-inner{
    width: 100%;
    outline: none;
    padding: 6px 4px;
  }
}