@import "../mixin/mixin.scss";
@import "../variables.scss";

@include c(video){
  width: 100%;
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
  color: #ffffff;

  &_inner{
    width: 100%;
  }

  &-mask{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;

    .video-operate-item{
      padding: 4px 4px;
      margin: 0  4px;
      color: #ffffff;
      font-size: 14px;
    }

    &-header{
      display: flex;
      justify-content: space-between;
    }


    &-body{
      flex:1;
      display:flex;
      div{
        flex:1
      }
    }

    &-footer{
      height: 40px;
      display: flex;
      align-items: center;

      &-left{
        padding: 0 6px;
        text-align: center;

        
      }
      &-progress{
        flex: 1;
      }
      &-right{
        padding: 0 6px;
        display: flex;
        align-items: center;
      }
    }
  }




  @include c(slider){
    margin:10px 0 ;
    height: 3px;
    background-color: #ddd;
    cursor: pointer;

    &-loaded{
      height: 100%;
      background-color: $wr-color-success;
      overflow: visible;
      position: relative;
      @include c(slider-button){
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%,-50%);
        @include c(slider-tooltip){
          position: absolute;
          padding: 4px;
          top: -28px;
          left: 50%;
          font-size: 12px;
          transform: translate(-50%,0);
          color: white;
          background-color: rebeccapurple;
        }
    
        @include c(slider-inner-btn){
          height: 14px;
          width: 14px;
          border-radius: 50%;
          border: 1px solid  $wr-color-success;
          background-color: white;
          cursor:grab;
        }
      }
  
      @include c(slider-loader-tooltip){
        position: absolute;
        padding: 4px;
        font-size:12px;
        top: -28px;
        transform: translate(-50%,0);
        color: white;
        background-color: rebeccapurple;
      }
    }
  }
}