
//全部组件样式统一导入

 @import "./components/badge.scss";

 @import "./components/button.scss";

 @import "./components/checkbox.scss";

 @import "./components/container.scss";

 @import "./components/input.scss";

 @import "./components/mesaage.scss";

 @import "./components/message-box.scss";

 @import "./components/notify.scss";

 @import "./components/progress.scss";

 @import "./components/radio.scss";

 @import "./components/select.scss";

 @import "./components/table.scss";

 @import "./components/tree.scss";